* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1 {
    background: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
}

.subhead {
    font-size: 48px;
    color: #FCD801;
    background: #281B2D;
    /*margin: 0 700px 0 10px;*/
    padding: 20px;
    border-bottom: 5px solid #00C54C;
}

.white-text {
    color: #fff;
}

.container {
    /*better to use max-width compared with fixed width*/
    max-width: 1000px;
    margin: 0px auto;
    padding: 0 20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.columns {
    display: flex;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.sidebar {
    width: 30%;
}

.col-right {
    margin-left: 25px;
}















/*header {*/
/*    background: #281B2D;*/
/*    color: #fff;*/
/*    text-align: center;*/

/*}*/

/*h1 {*/
/*    font-size: 72px;*/
/*    margin: 0;*/
/*    padding: 20px;*/
/*}*/